html, body {
    height: 100vh;
    width: 100vw;
    font-size: 100%;

    margin: 0px;
    padding: 0px;

    background-color: #0b0e0f;

    /* overflow-x: hidden; */
    /* overflow: hidden; */
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

@media screen and (min-width: 501px) {
    /* width */
    ::-webkit-scrollbar {
        width: 1em;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f100; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
} 

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 



.button-to-bottom {
    position: absolute;


    top: 90vh;
    left: 50vw;

    transform: translate(-50%, -50%);
}

.button-to-top {
    position: absolute;


    top: 105vh;
    left: 50vw;

    transform: translate(-50%, -50%);
}


.bg-two {
    min-height: 75vh;
    height: -webkit-fill-available;
    max-height: 93vh;
    width: 100vw;
    filter: none;
    background-color: #0b0e0f;

    padding: 0;
    padding-top: 10vh;
}

@media screen and (min-width: 801px) {
    .bg-two {
        padding: 3em;
        padding-top: 10vh;
    }
}

.footer {
    min-height: 2vh;
    height: max-content;
    max-height: 25vh;
    background-color: white;
    align-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 10px;
    padding-bottom: 10px;
}



.terminal-container {
    height: 100%;
    width: 100%;

    overflow: scroll;
    overflow-x: hidden;

    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);

    color: white;
    background-color: #040404;
}

.terminal-scroller {
    width: 100%;
}

.terminal {
    height: 100%;
    height: -webkit-fill-available;
    --animation: terminal-underline;
    --size: 1.25;
    --color: #bfd0cb;
    --background: #040404;
}

@media screen and (max-width: 500px) {
    .terminal {
        --size: 0.68;
    }
}

.one-thing {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    width: 100vw;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0vh;
    left: 0vw;
    z-index: 0;

    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    overflow: hidden;
}

.text-thing {
    width: 30em;

    position: relative; 
    top: 50vh;
    left: 50vw;
    
    transform: translate(-50%, -50%);
    z-index: 2;

    text-align: center;
}

.text-thing > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    color: white;
    /* -webkit-text-stroke: 2px black;
    text-stroke: 2px black; */
    /* text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; */
}

#code {
    font-size: 3em;
}

#code-next, #code-prev {
    font-size: 2em;
    color: gray;
}

.fira-mono-regular {
    font-family: "Fira Mono", monospace; 
    font-weight: 400;
    font-style: normal;
}

.fira-mono-medium {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.fira-mono-bold {
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    font-style: normal;
}